language: java
addons:
  apt:
    packages:
      - openjdk-6-jdk
jdk:
  - openjdk6
  - openjdk7
  - oraclejdk8
script: "./mvnw --show-version --errors --batch-mode clean verify"
cache:
    directories:
    - $HOME/.m2
branches:
    except:
        - gh-pages
notifications:
    email:
        - khmarbaise@apache.org
